<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genereer een iCalendar voor de afvalstoffendienstkalender.nl</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Genereer een iCalendar voor de afvalstoffendienstkalender.nl</h1>
        <p>Via deze site is het mogelijk om een iCalendar-bestand te genereren.<br>
            Maak bij voorkeur eerst een nieuwe agenda (bijvoorbeeld: afvalkalender) en importeer het .ics-bestand in je agenda.
        </p>
    <p>Deze site is gemaakt om geen gebruik te hoeven maken van de afvalstoffendienst-app of -website om de ophaaldagen te kunnen zien.</p>
    <form action="/generate" method="post" id="kalenderForm">
        Postcode: <input type="text" id="postcode" name="postcode"><br>
        Huisnummer: <input type="text" id="huisnummer" name="huisnummer"><br>
        Toevoeging: <input type="text" id="toevoeging" name="toevoeging"><br>
        <input type="submit" value="Maak iCalendar">
    </form>
    <br>
    <br>
    <footer>
        <p>
        Er kunnen geen rechten worden ontleend aan het gebruik van deze website. Gebruik is op eigen risico.<br>
        Informatie over iCal en .ics en het gebruik daarvan is te vinden op verschillende websites.
        </p>
        <p>
        De afvalstoffendienst is alleen voor de volgende gemeenten: 's-Hertogenbosch, Vught, Oisterwijk, Heusden, Altena en Bergheze.<br>
        Postcodes voor andere gemeenten genereren een leeg bestand.
        </p>
    </footer>
</body>
</html>
