<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genereer een iCal voor de afvalstoffendienstkalender.nl</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Genereer een iCal voor de afvalstoffendienstkalender.nl</h1>
        <p>Via deze site is het mogelijk om een iCal-bestand te genereren om te kunnen toevoegen aan een agenda.</p>
        <p>De app van de afvalstoffendienst hoeft dan niet gebruikt te worden.</p>
    <form action="/generate" method="post" id="kalenderForm">
        Postcode: <input type="text" id="postcode" name="postcode"><br>
        Huisnummer: <input type="text" id="huisnummer" name="huisnummer"><br>
        Toevoeging: <input type="text" id="toevoeging" name="toevoeging"><br>
        <input type="submit" value="Maak iCalendar">
    </form>
    <br>
    <br>
    <footer>Er kunnen geen rechten worden ontleend aan het gebruik van deze app. Gebruik is op eigen risico.</footer>
</body>
</html>
